.container-main{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}


.container-main .aside{
  width: 20%;
}

.container-main .slider{
  width: 60%
}

.container-main .banner{
  width: 20%;
}